body, html{
    height: 100%;
    width: 100%;
    background-color: #444;
    color: rgba(15, 146, 89, 1);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section{
    display: flex;
    text-align: center;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 2px 7px 10px rgba(15, 146, 89, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p{
    font-size: 300%;
    margin-top: -5%;
}

button{
    width: fit-content;
    padding: 2%;
    font-size: 250%;
    background-color: rgba(114, 236, 183, .5);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #eee;
    font-weight: light;
    cursor: pointer;
}

#add_player_input, #add_player_button, #see_role_button{
    width: fit-content;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0 0 2% 0;
    background-color: #fff;
    color: #222;
}

input{
    padding-left: 2%;
    min-height: 10%;
    min-width: 30%;
    font-size: 200%;
}

li{
    list-style: none;
    display: flex;
    font-size: larger;
    background-color: rgba(114, 236, 183, .5);
    border: none;
    border-radius: 5px;
    outline: none;
    width: fit-content;
    padding: 1%;
    color: #eee;
    margin: 3% 2% 0 -2%;
    justify-self: start;
}

ul{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    place-items: center;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 95%;
    height: fit-content;
    position: relative;
    margin: 2%;
}

#player_role{
    font-size: 250%;
    margin-bottom: 5%;
}

#see_workplace{
    font-size: 275%;
}

#greenposter_reveal_button{
    width: 60%;
    height: 60%;
    z-index: 5;
    background-color: rgba(114, 236, 183, .5);
}

@media screen and (max-width: 768px) {
    p {
        font-size: 2rem;
    }

    button {
        font-size: 1.8rem;
    }

    #add_player_input, #add_player_button, #see_role_button {
        font-size: 1.4rem;
    }

    input {
        font-size: 1.4rem;
    }

    li {
        font-size: 1.6rem;
    }

    #player_role {
        font-size: 2rem;
    }

    #see_workplace {
        font-size: 2.25rem;
    }

    #greenposter_reveal_button {
        width: 80%;
        height: 80%;
    }
}